<script setup lang="ts">
import { useTheme } from 'vuetify'
import { ref } from 'vue'
import { mdiWeatherSunny, mdiWeatherNight, mdiFolder, mdiAccountMultiple, mdiStar } from '@mdi/js'
import { useLoginStore } from '@/stores/login'; 
const loginStore = useLoginStore()


const theme = useTheme()

const toggleTheme = () => {
  theme.global.name.value = theme.global.current.value.dark ? 'light' : 'dark'
}

const logout = () => {
  loginStore.logout()
}
 
const props = defineProps<{loginName: string}>()
</script>
<template>
  <v-app>
    <v-app-bar :elevation="2">
      <v-row justify="end" align="center" class="fill-height">
        <v-btn
          :prepend-icon="theme === 'light' ? mdiWeatherSunny : mdiWeatherNight"
          @click="toggleTheme"
          class="ml-auto"
        >
          Toggle Theme
        </v-btn>
        <v-btn @click="logout">Logout</v-btn>
      </v-row>
    </v-app-bar>
    <v-navigation-drawer expand-on-hover rail permanent>
      <v-list>
        <v-list-item
          prepend-avatar="https://randomuser.me/api/portraits/women/85.jpg"
          :title="loginStore.loginName"
          subtitle="sandra_a88@gmailcom"
        ></v-list-item>
      </v-list>

      <v-divider></v-divider>

      <v-list density="compact" nav>
        <v-list-item
          :prepend-icon="mdiFolder"
          title="My Files"
          value="myfiles"
          to="/my-files-view"
        ></v-list-item>
        <v-list-item
          :prepend-icon="mdiAccountMultiple"
          title="My Profile"
          value="shared"
          to="/share-with-me-view"
        ></v-list-item>
        <v-list-item
          :prepend-icon="mdiStar"
          title="Starred"
          value="starred"
          to="/starred-view"
        ></v-list-item>
      </v-list>
    </v-navigation-drawer>
    <v-main>
      <v-container>
        <router-view></router-view>
      </v-container>
    </v-main>
  </v-app>
</template>

<style>
.fill-height {
  height: 100%;
}
</style>
